.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--spacing-4);
}

@media (min-width: 768px) {
  .container {
    padding-inline: var(--spacing-6);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: var(--spacing-8);
  }
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}

.xl {
  max-width: var(--container-xl);
}

.2xl {
  max-width: var(--container-2xl);
}

.full {
  max-width: 100%;
}

